div.popup {
	background-color: #ebebeb;
	padding: 10px;
	min-height: 300px;
	min-width: 400px;
	text-align: left;
	
	h1 {
		width:100%;
		border-bottom:4px solid #999;
		text-align: left;
		margin-bottom:10px;
	}
	
	div.actions {
		position: absolute;
		bottom: 20px;
	}
	
	
	
	
	
}